.template-content-section {
  background-color: #ebf7ff;
  border-radius: 0px;
  color: #004f84;
  div .heading {
    font-size: 21px;
    font-weight: 600;
  }
  div .description {
    font-size: 14px;
    font-weight: 300;
  }
}
