.btn-green {
  color: #fff !important;
  background-color: #79c23b !important;
  border: 1px solid #79c23b !important;
  border-radius: 50px !important;
  padding: 0.5rem 2rem !important;
  width: auto;
}

.btn-green:hover {
  border-radius: 50px !important;
  color: #79c23b !important;
  background-color: #ebf7ff !important;
  border-color: #79c23b !important;
  padding: 0.5rem 2rem;
}
.btn-red {
  border-radius: 50px !important;
  color: #fff !important;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
  padding: 0.5rem 2rem !important;
}

.btn-red:hover {
  border-radius: 50px !important;
  color: #dc3545 !important;
  background-color: #ebf7ff !important;
  border-color: #dc3545 !important;
  padding: 0.5rem 2rem !important;
}
